/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  font-family: 'Luckiest Guy', cursive;
  color: #222;
  background-color: #f2f2f2;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

/* Links */
a {
  text-decoration: none;
  color: #2e7d32;
}

a:hover {
  color: #1b5e20;
}
